<div class="footer-dark">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Servicios</h3>
                    <ul>
                        <li><a [routerLink]="['/products']">Comercio Exterior</a></li>
                        <li><a [routerLink]="['/products']">Geolink</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Nosotros</h3>
                    <ul>
                        <li><a [routerLink]="['/about']" routerLinkActive="active">Quienes somos</a></li>
                        <li><a [routerLink]="['/about']" routerLinkActive="active">¿Cómo trabajamos?</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>INTERLINK LOGISTICS</h3>
                    <p>Carrera 7 # 71-21 Torre A Piso 5
                        <br>PBX: (57 1) 358 2617 - Móvil: 314 2164170
                        <br>comercial@interlinklogistics.com.co
                        <br>Bogotá • Colombia
                    </p>
                </div>
                <div class="col item social">
                    <p>Expertos generando valor en su cadena logística</p>
                    <a href="https://www.facebook.com/InterlinkLogisticsColombia">
                        <i class="bi bi-facebook"></i>
                    <img src="assets/images/facebook.png" width="45px" height="45px" alt="Facebook Interlink"></a>
                    <a href="https://co.linkedin.com/company/interlinklogistics">
                        <i class="bi bi-facebook"></i>
                    <img src="assets/images/linkedin.png" width="50px" height="50px" alt="Linkedin Interlink"></a>
                    
                </div>

            </div>
            <p class="copyright">Interlink Logistics S.A.S. © 2021</p>
        </div>