

<p  class="display-4"> Expertos generando valor en su cadena logística</p>
<div class="=containerabout">
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/images/logo_interl.png" class="card-img-top" alt="Quienes somos">
        <div class="card-body">
          <h5 class="card-title">Quienes somos</h5>
          <p class="card-text">Interlink Logistics S.A.S. es una compañía creada con el objetivo de optimizar procesos logísticos y de comercio internacional. <br>Fundamentamos nuestra propuesta de valor en la integración, control y gestión de procesos logísticos y de comercio internacional.</p>
        </div>
        <img src="assets/images/servicios.png" class="card-img-abajo" alt="Quienes somos">
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/images/trabajamos.png" class="card-img-top2"  alt="...">
        
        <div class="card-body">
          <h5 class="card-title">¿Cómo trabajamos?</h5>
          <p class="card-text">Nos enfocamos en convertir la negociación transnacional y los servicios logísticos, en experiencias positivas y personalizadas para nuestros clientes. <br> Buscamos convertirnos en su aliado estratégico en logística y comercio internacional.
            <br>Cumplimos con la normatividad nacional e internacional en todas nuestras actividades, con compromiso gerencial en temas de seguridad, lavado de activos y protección del medio ambiente.</p>
          <img class="card-img-abajo2" src="assets/images/imagen-mundocolores.png"  alt="Quienes somos">
          <img class="card-img-abajo2" src="assets/images/imagen-mundocolores-desc.png"  alt="Quienes somos">

        </div> 
      </div>
    </div>
   
      </div>
    </div>