<div class="myproducts">
  <a class="nav-link active" aria-current="page" [routerLink]="['/compra']">Compra</a>
  <div class="jumbotron p-3 p-md-5 text-white " >
   
        <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Logística en Comercio Exterior</h1>
      <p class="lead my-3">Mayor competitividad a través de la optimización de sus procesos logísticos y de comercio
        internacional.</p>
      <!--<p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Seguir leyendo...</a></p>
      -->
      </div>
  </div>
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Rastreo Internacional
        <span class="text-muted">de contenedores.</span>
      </h2>
      <p class="lead">“GeoLink” es un sistema de rastreo internacional de contenedores basado en Internet de las Cosas
        (IoT).</p>
      <p class="resaltado">
        Este innovador sistema, junto con un modelo logístico único, permite visualizar desde cualquier computador o
        dispositivo móvil, el cierre, localización y apertura, de contenedores en el tránsito internacional.

      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/geopieza_1.jpg"  [routerLink]="['/register']" alt="Logística consultiva">
    </div>
  </div>
  <br>
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Logística
        <span class="text-muted">consultiva.</span>
      </h2>
      <p class="lead">Seleccionamos dentro de nuestra red global de proveedores aliados, a los más idóneos en cada caso,
        unificando todos los eslabones de la cadena, y estableciendo soluciones logísticas especializadas a la medida:
      </p>
      <p class="resaltado">
        Transporte marítimo, aéreo y multimodal<br>
        Agenciamiento aduanero<br>
        Transporte terrestre<br>
        Almacenamiento y distribución<br>

      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/logistica.jpg" alt="Logística consultiva">
    </div>
  </div>
  <br>
  <br>
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Logística
        <span class="text-muted">a la medida.</span>
      </h2>
      <p class="lead">Partimos de conocer sus objetivos, estrategia, requerimientos y cultura organizacional para
        identificar, en conjunto, oportunidades de mejora, capitalizables mediante:</p>
      <p class="resaltado">
        Gestión de productos y proveedores en China<br>
        Asesorías especializadas en OEA (Operador Económico Autorizado)<br>
        Trámites ante entidades (Invima, ICA, SIC, etc.)<br>
        Diseño y optimización de modelos logísticos
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="assets/images/logistica2.jpg" alt="Logística consultiva">
    </div>
  </div>
</div>
<br>
<br>