<div class="principal ">
  <carousel class="caro ">
    <slide class="slide">
      <img src="assets/images/naranja.png" alt="first slide">
      <div class="carousel-caption">
        <h3>Logística a la medida</h3>
        <p>Especialización de cadenas logísticas, selección de los proveedores aliados más idóneos en cada caso.</p>
        <button type="button" class="btn btn-primary" routerLink="/contacto" >
          Contáctenos
        </button>
      </div>
    </slide>
    <slide class="slide">
      <!-- class="img-fluid" -->
      <img src="assets/images/azulosc.png" alt="first slide">
      <div class="carousel-caption">
        <h3>Comercio Internacional y negociación</h3>
        <p>Nos enfocamos en convertir la negociación transnacional y los servicios logísticos, en experiencias positivas
          y personalizadas para nuestros clientes.</p>
        <button type="button" class="btn btn-primary" routerLink="/contacto">
          Contáctenos
        </button>
      </div>
    </slide>
    <slide class="slide">
      <img src="assets/images/azulcla.png" alt="first slide">
      <div class="carousel-caption">
        <h3>Geolink</h3>
        <p>Sistema de Rastreo internacional de contenedores.</p>
        <button type="button" class="btn btn-primary" routerLink="/register">
          Compre en línea
        </button>
      </div>
    </slide>

  </carousel>

  <div class="container marketing">


    <div class="row">
      <div class="col-lg-4">
        <img width="140px" src="assets/images/logo_interl.png" alt="">

        <h2>Expertos generando valor en su cadena logística</h2>
        <p>Así es cómo nos enfocamos en convertir la negociación transnacional y los servicios logísticos en
          experiencias
          positivas y personalizadas para nuestros clientes. Queremos convertirnos en su aliado estratégico en logística
          y comercio
          internacional.</p>
        <p><a class="btn btn-secondary" routerLink="./nosotros">Leer más &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img height="140px" src="assets/images/logo_geolink_s.png" alt="">



        <h2>Sistema de rastreo internacional de contenedores</h2>
        <p>Sistema basado en IoT para monitoreo de cierre, apertura y ubicación contenedores de carga en el tránsito
          internacional. <br> Regístrese y adquiera el sistema Geolink para tener el control de sus contenedores desde
          su ceular. </p>
        <p><a class="btn btn-secondary" href="./servicios">Compra ahora &raquo;</a></p>
      </div>
      <div class="col-lg-4">

        <img width="140px" src="assets/images/contacto.png" alt="">

        <h2>Contáctenos</h2>
        <p>Estamos listos atender las solicitudes de su empresa. <br> Habilitamos nuestros medios de comunicación para
          ofrecerle servicio 24/7 desde cualquier parte del mundo.</p>
        <p><a class="btn btn-secondary" href="contacto">Contacto &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>