<h3>Bienvenido "{{ '{user.geoemail}'  }}"</h3>
<div class=" jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Geolink 4.0</h1>
    <p class="lead">Sistema de rastreo Global de contenedores <br> 
      Conozca la ubicación en tiempo real de sus contenedores. 
      <br>Monitoree el cierre, trayectoria y apertura.</p>
      <br>
      <div class="card" style="width: 18rem" >
        <img class="card-img-top" src="assets/images/logo_geolink.png" alt="Geolink">
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$ 160  <small class="text-muted">USD</small></h1>
      
          <p class="card-text">Monitoreo de principio a fin.
            <br>
          </p>
        </div>
        <button type="button" class="btn btn-success">Agregar al carrito</button>
      </div>
  </div>
  
</div>






